<div class="row">
  <div class="col-xs-12 col-sm-6">
    <h2 id="holding-show-title"><%= @holding.symbol %> Chill Factor</h2>
    <div>
      <%= react_component 'Holding', { holding: @holding, performance: @performance } %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="row">
      <div class="col-sm-12" id="chillin_symbol">
        <h1><%= @holding.symbol %></h1>
      </div>
      <div class="col-sm-4 col-sm-push-4 <%= @holding.chill_color %>" id="chill-box">
        <p>XXXXXXXX</p>
        <p>XXXXXXXX</p>
      </div>
      <div class="col-sm-12" id="chill_message">
        <p><%= @holding.chill_message %></p>
      </div>
    </div>
    <div>
      <%= react_component 'HoldingDataList', { holding: @holding } %>
    </div>
  </div>
</div>
